* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  height: 90px;
}

.menu {
  display: flex;
  gap: 20px;
}
.menu li {
  text-decoration: none;
  list-style-type: none;
  margin: 0 10px;
  font-size: 20px;
  color: black;
  opacity: 0.9;
}
li:hover {
  color: blue;
  /* font-size: 18px; */
  font-weight: bold;
}
/* banner style added */

.item {
  position: relative;
}
.banner-img {
  width: 100%;
  height: 70vh;
}
.text-avobe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-image: linear-gradient(to right, #18243fb9, #626a7a00);
  width: 100%;
  height: 100%;
  padding: 20px;
}
.banner-heading {
  font-size: 70px;
  width: 500px;
  margin-bottom: 0;
  color: white;
}
.banner-description {
  color: white;
  font-size: 20px;
}
.more {
  color: white;
  background-color: #015cb5;
  padding: 15px 30px;
  border: none;
  font-size: 20px;
  border-radius: 20px;
}
.more:hover {
  background-color: #fa8714;
}
.now {
  color: black;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
}
.now:hover {
  background-color: #015cb5;
}
.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1192px;
}
.best-service {
  display: flex;
  margin: 100px 0;
}
.three-img {
  display: flex;
  gap: 20px;
}
small {
  color: #6a6f78;
  text-transform: uppercase;
}
.best-service-heading {
  font-size: 40px;
  color: black;
  margin-top: 10px;
}
.best-service-subheading {
  color: #015cb5;
  font-size: 20px;
  margin-top: 10px;
}
.first {
  background-image: url("images/map.png");
  background-position: top left;
  padding: 20px;
}
.about-1 {
  border-radius: 100%;
}
.best-service-description {
  color: #6a6f78;
  font-size: 18px;
  line-height: 1.3;
  margin: 15px 0 30px;
}
.passport {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100px;
  margin-bottom: 30px;
}
.icon {
  font-size: 60px;
  color: red;
}
.relative {
  position: relative;
}

.absolute {
  display: flex;
  background-color: #015cb5;
  width: 300px;
  padding: 20px 0;
  border: 10px solid white;
  justify-content: space-around;
  position: absolute;
  bottom: -480px;
  left: 662px;
  border-radius: 5px;
}
.client {
  color: white;
  font-size: 20px;
}
.fa-handshake {
  background-color: #fa8714;
  color: white;
  font-size: 25px;
  padding: 15px;
  border-radius: 10px;
}

/* choose visa section style start */
.visa-title {
  text-align: center;
  width: 500px;
  margin: 40px auto;
}
.visa-description {
  text-transform: uppercase;
  color: gray;
}
.visa-heading {
  font-size: 45px;
  font-weight: bolder;
}
.border-container {
  display: flex;
  gap: 20px;
}
.border1 {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ebeef5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.border2 {
  display: flex;
  flex: 1 1 0%;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #ebeef5;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.fa-question {
  background-color: hsla(219, 6%, 44%, 0.1);
  font-size: 30px;
  padding: 30px;
  border-radius: 0 0 0 50%;
  color: blue;
}
.fa-circle-dollar-to-slot {
  background-color: hsla(219, 6%, 44%, 0.1);
  font-size: 30px;
  padding: 30px;
  border-radius: 0 0 0 50%;
  color: blue;
}
.fa-chalkboard-user {
  background-color: hsla(219, 6%, 44%, 0.1);
  font-size: 30px;
  padding: 30px;
  border-radius: 0 0 0 50%;
  color: blue;
}
.fa-user-plus {
  background-color: hsla(219, 6%, 44%, 0.1);
  font-size: 30px;
  padding: 30px;
  border-radius: 0 0 0 50%;
  color: blue;
}
.border-des {
  color: hsla(219, 6%, 44%, 0.455);
  margin-bottom: 20px;
  text-transform: uppercase;
}

.border2:hover {
  background-color: #015bb55b;
  color: white;
}
.border1:hover {
  background-color: #015bb55f;
  color: white;
}
.form {
  font-size: 20px;
  background-color: #fa8714;
  padding: 15px 0 15px 30px;
  border: none;
  border-radius: 20px;
}
